:root {
  --font-body: system-ui, sans-serif;

  --color-slate-050: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-red-050: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-emerald-050: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #022c22;

  --color-text: var(--color-slate-800);
  --font-size: 16px;
  --border-radius: 0.5rem;

  font-family: var(--font-body);
  color: var(--color-text);
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-weight: 400;
  background: url("$lib/assets/plaid.jpg") repeat;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-red-700);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.glass-box {
  background: color-mix(in hsl, var(--color-slate-100) 40%, transparent);
  border: 1px solid var(--color-slate-050);
  border-radius: var(--border-radius);
  box-shadow: 0 0.25rem 1rem #0002;
  box-shadow:
    0 1px 2px #0003,
    0 0.25rem 1rem #0002,
    0 0.5em 3rem #0001;
  backdrop-filter: blur(10px);
  overflow: hidden;

  &.gradient-bg {
    background: linear-gradient(
      to bottom,
      color-mix(in hsl, var(--color-slate-100) 5%, transparent),
      color-mix(in hsl, var(--color-slate-100) 60%, transparent)
    );
  }
}

.button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  color: var(--color-slate-900);
  background: linear-gradient(
    to bottom,
    color-mix(in hsl, var(--color-slate-050) 10%, transparent),
    color-mix(in hsl, var(--color-slate-050) 80%, transparent)
  );
  border: 1px solid var(--color-slate-050);
  box-shadow:
    0 1px 1px #0003,
    0 0.1rem 0.25rem #0001,
    0 0.2rem 0.5rem #0001;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background: linear-gradient(
      to bottom,
      color-mix(in hsl, var(--color-slate-050) 70%, transparent),
      color-mix(in hsl, var(--color-slate-050) 90%, transparent)
    );
    text-decoration: none;
  }

  &.primary {
    background: var(--color-red-700);
    border: 2px solid var(--color-red-800);
    color: var(--color-red-050);

    &:hover,
    &:focus-visible {
      border-color: var(--color-red-900);
      background: var(--color-red-800);
    }
  }

  &.plain {
    text-decoration: none;
    background: transparent;
    border: none;
    box-shadow: none;

    &:hover,
    &:focus-visible {
      color: var(--color-slate-800);
      text-decoration: underline;
    }
  }
}
